
* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 3em;
    padding: 0 1em;
    background: #eee;
    display: flex;
    align-items: center;
}

button {
    border: 0;
}

i {
    font-size: 2em;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

main {
    display: flex;
}

.navigation {
    flex-basis: 20%;
    padding: .5em;
    overflow: hidden;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list-item {
    background: #808080;
    height: 2em;
    margin-bottom: .5em;
}

.nav-list-link {
    line-height: 2em;
    display: block;
    list-style: none;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 0 .5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

@media screen and (max-width: 600px) {
    .navigation {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    button {
        display: none;
    }
}