* {
    box-sizing: border-box;
}

html {

    font-family: Verdana;
    color: #555;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: linear-gradient(60deg, red, orange);
}

.header h1 {
    color: white;
    text-align: center;
    flex-grow: 0;
}

/* -----------------------------------main start */
.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
/* ================================================navigation */
.navigation {
    flex-basis: 20%;
    overflow: hidden;
    padding: 0 .5em .5em .5em;
}

.nav-list {
    padding: 0;
    list-style: none;
    margin-top: 1.5em;
}

.nav-list>.nav-list-item {
    background: #808080;
    height: 2em;
    line-height: 2em;
    color: white;
    margin-bottom: .5em;
}

.nav-list-link {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0 .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ====================================================section */
.section {
    width: 100%;
    padding: .5em;
    font-size: 1.25em;
}

img {
    max-width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin-top: 1px;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.news {
    flex-basis: 20%;
    padding: .5em;
}
/* ------------------------------------main end */
.footer {
    background: #e5e5e5;
    flex-basis: auto;
    padding: .5em;
    text-align: center;
    flex-grow: 0;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 1200px)  {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navigation {
        width: 20%;
    }

    .section {
        width: 80%;
    }
    .news {
        flex-grow: 1;
    }
}

@media screen and (min-width: 1200px) {
    .navigation {
        width: 20%;
    }

    .section {
        width: 60%;
    }

    .news {
        width: 20%;
    }
}