html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

section {
  margin: 32px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  word-spacing: 20px;
}

p {
  line-height: 28px;
}

.ppp {
  /* font-weight: 900; */
  letter-spacing: 3px;
  font-size: 24px;
  opacity: .8;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

em {
  color: gray;
}