li {
    margin-bottom: 16px;
}

li:nth-child(1) > span {
    background: red;
    color: white;
}

li:last-of-type > span {
    background: black;
    color: white;
}

li:nth-child(even) > span {
    margin-left: 16px;
}

p:nth-of-type(odd) {
    background: gray;
}