* {
    box-sizing: border-box;
}

html {

    font-family: Verdana;
    color: #555;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: linear-gradient(60deg, red, orange);
}

.header h1 {
    color: white;
    text-align: center;
    flex-grow: 0;
}

/* -----------------------------------main start */
.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.navigation {
    flex-basis: 20%;
    overflow: hidden;
    padding: 0 .5em .5em .5em;
}

.nav-list {
    padding: 0;
    list-style: none;
    margin-top: 1.5em;
}

.nav-list>.nav-list-item {
    background: #808080;
    height: 2em;
    line-height: 2em;
    color: white;
    margin-bottom: .5em;
}

.nav-list-link {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0 .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section {
    padding: .5em;
    flex-basis: 60%;
    font-size: 1.25em;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.news {
    flex-basis: 20%;
    padding: .5em;
}
/* ------------------------------------main end */
.footer {
    background: #e5e5e5;
    flex-basis: auto;
    padding: .5em;
    text-align: center;
    flex-grow: 0;
}