/* * {
    box-sizing: border-box;
} */


.dropdown {
    margin: 16px;
    display: inline-flex;
    position: relative;
}

.menu-button {
    display: inline-block;
    padding: 16px;
    background: rgba(0, 100, 0, 0.800);
    font-size: 16px;
    color: white;
    cursor: pointer;
}


.menu-list {
    position: absolute;
    margin: 0;
    padding: 0;
    background: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
    list-style-type: none;
    display: none;
    top: 50px;
    /* left: 100px; */
}

.menu-item {
    padding: 16px;
    
}

.menu-button:hover + .menu-list {
    display: block;
}

.menu-button:hover {
    background: rgba(0, 100, 0, 1);
}

.menu-item:hover {
    background: ghostwhite;
}

.menu-list:hover {
    display: block;
}
