button {
  margin: 64px;
  width: 200px;
  height: 50px;
  background: coral;
  color: white;
  border-radius: 4px;
  border: 0px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  line-height: 50px;
  font-weight: 700;
}

.small-bird {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  fill: white
}

.button {
  display: inline-block;
}

.first:hover > .small-bird{
  fill: green;
}

button:hover {
  color: darkcyan;
}