

.header {
    height: 3em;
    background: #006400;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    cursor: pointer;
    display: flex;
    height: 3em;
    align-items: center;
}

.menu {
    margin-left: 3em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    align-items: center;
    position: relative;
    height: 3em;
    color: white;

    &__item {
        padding-left: 8px;
        padding-right: 8px;

        &:hover {
            background: #9acd32;
        }

        &_active {
            color: yellow;
            display: flex;
        }
    }

    &__item_active:hover .submenu {
        display: flex;
    }
}

.submenu {
    padding: 0;
    margin: 0;
    background: #ff7f50;
    box-shadow: 0px 4px 8px 9px rgba(0, 0, 0, 0.2);
    color: #fff;
    min-width: 120px;
    z-index: 1;
    display: none;
    flex-direction: column;
    position: absolute;
    // bottom: -3em;
    top: 3em;
    
    &__item {
        padding-left: 8px;
        padding-right: 8px;

        &:hover {
            color: black;
        }
    }
}