* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  max-width: 320px;
  margin: auto;
  flex-direction: column;
}
@media (min-width: 1400px) {
  body {
    max-width: 1400px;
  }
}

h1, h2 {
  padding: 0;
  margin: 0;
}

.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background: #F3C6BD;
}
@media (min-width: 1400px) {
  .main-header {
    height: 710px;
  }
}
.main-header__nav {
  display: flex;
  padding-left: 15px;
  height: 64px;
  flex-direction: row;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
}
@media (min-width: 1400px) {
  .main-header__nav {
    padding: 0;
    margin: 39px 110px 0 120px;
    height: 62px;
    background: #ffffff00;
    box-shadow: none;
  }
}
.main-header__nav_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
.main-header__nav_logo .logo {
  height: 48px;
  width: 48px;
}
.main-header__nav_logo .logo__img {
  width: 100%;
}
@media (min-width: 1400px) {
  .main-header__nav_logo .logo {
    width: 70px;
    height: 70px;
    position: relative;
    top: 5px;
  }
}
.main-header__nav_logo .logo-text {
  display: flex;
  flex-direction: column;
}
.main-header__nav_logo .logo-text__h1 {
  margin: 0 0 0 15px;
  padding: 15px 0;
  font-size: 11px;
}
@media (min-width: 1400px) {
  .main-header__nav_logo .logo-text__h1 {
    line-height: 0.8em;
  }
}
.main-header__nav_logo .logo-text__text {
  display: none;
  margin: 0 0 0 15px;
  padding: 0;
  color: #2B292D90;
}
@media (min-width: 1400px) {
  .main-header__nav_logo .logo-text__text {
    display: block;
  }
}
.main-header__nav_mob-menu {
  display: flex;
  width: 58px;
  flex-grow: 0;
  border-left: 1px solid #00000015;
}
.main-header__nav_mob-menu .mob-img {
  margin: auto;
}
@media (min-width: 1400px) {
  .main-header__nav_mob-menu {
    display: none;
  }
}
.main-header__nav-list {
  display: none;
  height: 25px;
  margin: auto;
  margin-right: 80px;
}
@media (min-width: 1400px) {
  .main-header__nav-list {
    display: block;
  }
}
.main-header__button {
  display: none;
}
@media (min-width: 1400px) {
  .main-header__button {
    display: block;
  }
}
.main-header__menu {
  display: flex;
  padding: 0;
  margin: auto;
  height: 25px;
  flex-direction: row;
  list-style: none;
  font-size: 17px;
  width: 270px;
  justify-content: space-between;
}
.main-header__menu_selected {
  font-weight: 700;
}
.main-header__menu_arrow {
  display: flex;
  list-style: none;
}
.main-header__menu_arrow-list {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  list-style: none;
}
.main-header__content {
  position: relative;
  z-index: 1;
  padding: 35px 15px 33px 15px;
}
@media (min-width: 1400px) {
  .main-header__content {
    margin: 75px 0 0 110px;
  }
}
.main-header__content_h1 {
  display: block;
  padding: 0;
  margin: 0 0 24px 0;
  font-size: 1.6em;
  line-height: 2em;
}
@media (min-width: 1400px) {
  .main-header__content_h1 {
    width: 750px;
    font-size: 2.5em;
  }
}
.main-header__content_h1 h1 {
  margin: 0;
}
.main-header__content_text {
  display: block;
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 1.4em;
}
@media (min-width: 1400px) {
  .main-header__content_text {
    width: 450px;
    margin-top: 40px;
  }
}
.main-header .button-get-started {
  width: 290px;
  height: 48px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 0;
  background: #3040C4;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 1400px) {
  .main-header .button-get-started {
    background: #3040C4;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    border: 0;
  }
}
.main-header .button-learn-more {
  margin-bottom: 33px;
  width: 290px;
  height: 48px;
  background: #ffffff;
  color: #3040C4;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  border: 0;
}
@media (min-width: 1400px) {
  .main-header .button-learn-more {
    margin-left: 10px;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background: #ffffff;
    color: #3040C4;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    border: 0;
  }
}
.main-header__img-man {
  position: relative;
  width: 320px;
  z-index: -1;
  right: 15px;
}
@media (min-width: 1400px) {
  .main-header__img-man {
    position: absolute;
    top: 40px;
    right: 25px;
    width: 796px;
    max-height: 448px;
  }
}
.main-header__img-man_img {
  width: 100%;
  z-index: 0;
}

.button_get-started {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  background: #3040C4;
  color: #ffffff;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  border: 0;
}

.order {
  display: flex;
  padding: 50px 15px;
  flex-direction: column;
  background-color: #F4F5F7;
}
@media (min-width: 1400px) {
  .order {
    height: 441px;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.order__img-div {
  margin: 0 auto 40px;
  width: 200px;
  height: 220px;
}
.order__img-div_img {
  height: 100%;
}
@media (min-width: 1400px) {
  .order__img-div {
    margin: 0;
    margin-right: 120px;
    width: auto;
    height: auto;
  }
}
.order__content_h1 {
  margin: 0 0 18px 0;
  max-width: 555px;
  font-size: 39px;
  text-align: center;
}
@media (min-width: 1400px) {
  .order__content_h1 {
    text-align: left;
  }
}
.order__content_text {
  display: block;
  margin: 0 0 40px 0;
  max-width: 555px;
  font-size: 22px;
  line-height: 1.4em;
}
.order__content_trial {
  max-width: 555px;
  font-size: 14px;
  color: #2b292dbb;
}
.order__form {
  display: flex;
  max-width: 555px;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .order__form {
    flex-direction: row;
  }
}

.order_form_input-text {
  margin-bottom: 12px;
  height: 48px;
  text-align: center;
  font-size: 18px;
}
@media (min-width: 1400px) {
  .order_form_input-text {
    margin-right: 10px;
    width: 385px;
    text-align: start;
  }
}

.order_form_button {
  margin-bottom: 15px;
  width: 290px;
  height: 48px;
  background: #3040C4;
  color: #ffffff;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  border: 0;
}
@media (min-width: 1400px) {
  .order_form_button {
    width: 160px;
  }
}

footer {
  position: relative;
  display: flex;
  padding: 40px 15px 20px 15px;
  flex-direction: column;
}
@media (min-width: 1400px) {
  footer {
    padding: 40px 130px 15px 130px;
  }
}
footer .footer-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  footer .footer-content {
    margin-bottom: 20px;
    padding-bottom: 30px;
    flex-direction: row;
    border-bottom: 1px solid #E3E3E3;
  }
}
footer .footer-content .first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E3E3E3;
}
@media (min-width: 1400px) {
  footer .footer-content .first {
    border: 0;
  }
}
@media (min-width: 1400px) {
  footer .footer-content .first {
    margin-right: 120px;
    align-items: flex-start;
  }
}
footer .footer-content .first__logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1400px) {
  footer .footer-content .first__logo-div {
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  footer .footer-content .first__logo-img {
    margin-right: 15px;
  }
}
footer .footer-content .first__logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1400px) {
  footer .footer-content .first__logo-text {
    align-items: flex-start;
  }
}
footer .footer-content .first__logo-text_h1 {
  margin: 30px 0 15px;
  padding: 0;
  line-height: 1em;
  font-size: 0.7em;
}
footer .footer-content .first__logo-text_text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  color: rgba(43, 41, 45, 0.6);
  font-size: 1.2em;
}
footer .footer-content .first__content-text {
  display: none;
}
@media (min-width: 1400px) {
  footer .footer-content .first__content-text {
    display: block;
    margin-bottom: 25px;
    width: 360px;
    color: rgba(43, 41, 45, 0.6);
    line-height: 1.4em;
    font-size: 1.1em;
  }
}
footer .footer-content .first__logos {
  display: flex;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-content .first__logos_apple {
  margin-right: 10px;
}
footer .footer-content .second {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  footer .footer-content .second {
    margin-right: 100px;
  }
}
footer .footer-content .second__h1 {
  margin-bottom: 20px;
  font-size: 1.5em;
}
footer .footer-content .second__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  color: rgba(43, 41, 45, 0.6);
}
footer .footer-content .second__list_li {
  margin-bottom: 0.9em;
}
footer .footer-content .third {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}
footer .footer-content .third__h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
footer .footer-content .third__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  color: rgba(43, 41, 45, 0.6);
}
footer .footer-content .third__list_li {
  margin-bottom: 0.8em;
}
footer .footer-buttom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  footer .footer-buttom {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer-buttom__list {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  flex-direction: row;
  color: rgba(43, 41, 45, 0.6);
  list-style: none;
}
footer .footer-buttom__list_li {
  margin-right: 20px;
  font-size: 0.9em;
}
footer .footer-buttom__icon {
  display: flex;
  flex-direction: row;
}
footer .footer-buttom__icon_img {
  margin-right: 20px;
  max-height: 18px;
}

hr {
  position: relative;
  left: -100px;
  height: 1px;
  width: 1400px;
  background-color: #E3E3E3;
  border: 0;
}

.audience {
  display: flex;
  background: #d9eff7;
  padding: 35px 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1400px) {
  .audience {
    padding: 110px 0;
  }
}
.audience__text-block {
  display: flex;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.audience__text-block_h2 {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.audience__text-block_h1 {
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
  text-align: center;
  font-size: 1.3em;
}
@media (min-width: 1400px) {
  .audience__text-block_h1 {
    width: 555px;
    font-size: 1.8em;
  }
}
.audience__text-block_text {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: center;
}
@media (min-width: 1400px) {
  .audience__text-block_text {
    width: 555px;
  }
}
.audience__buttons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .audience__buttons {
    margin-bottom: 110px;
    flex-direction: row;
  }
}
.audience__buttons_get-started {
  margin-bottom: 12px;
  width: 290px;
  height: 48px;
  background: #3040C4;
  color: #ffffff;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  border: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media (min-width: 1400px) {
  .audience__buttons_get-started {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background: #3040C4;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    border: 0;
    box-shadow: none;
  }
}
.audience__buttons_learn-more {
  margin-bottom: 40px;
  width: 290px;
  height: 48px;
  background: #ffffff;
  color: #000000;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  border: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media (min-width: 1400px) {
  .audience__buttons_learn-more {
    margin-left: 10px;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background: #ffffff;
    color: #000000;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    border: 0;
    box-shadow: none;
  }
}
.audience__images {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .audience__images {
    flex-direction: row;
  }
}
.audience__images_img-div {
  margin-bottom: 15px;
  width: 290px;
  height: 300px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  background-color: white;
  display: flex;
  border-radius: 8px;
}
@media (min-width: 1400px) {
  .audience__images_img-div {
    margin-right: 31px;
    box-shadow: none;
  }
}
.audience__images_img {
  margin: auto;
}
.audience__images.selected {
  display: none;
  background-color: #3141C5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}

/*# sourceMappingURL=styles.css.map */
