@import 'veriables.scss';

footer {
    position: relative;
    display: flex;
    padding: 40px 15px 20px 15px;
    flex-direction: column;

    @include for-large {
        padding: 40px 130px 15px 130px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;

        @include for-large {
            margin-bottom: 20px;
            padding-bottom: 30px;
            flex-direction: row;
            border-bottom: 1px solid #E3E3E3;
        }

        .first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #E3E3E3;

            @include for-large {
                border: 0;
            }

            @include for-large {
                margin-right: 120px;
                align-items: flex-start;
            }

            &__logo-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include for-large {
                    flex-direction: row;
                }
            }

            &__logo-img {

                @include for-large {
                margin-right: 15px;
                }
            }

            &__logo-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include for-large {
                    align-items: flex-start;
                }

                &_h1 {
                    margin: 30px 0 15px;
                    padding: 0;
                    line-height: 1em;
                    font-size: .7em;

                }

                &_text {
                    margin: 0;
                    margin-bottom: 30px;
                    padding: 0;
                    color: rgba(43, 41, 45, 0.6);
                    font-size: 1.2em;
                }
            }

            &__content-text {
                display: none;

                @include for-large {
                    display: block;
                    margin-bottom: 25px;
                    width: 360px;
                    color: rgba(43, 41, 45, 0.6);
                    line-height: 1.4em;
                    font-size: 1.1em;
                }
            }

            &__logos {
                display: flex;
                margin-bottom: 40px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
        
                &_apple {
                    margin-right: 10px;
                }
            }
        }

        

        .second {
            display: flex;
            flex-direction: column;

            @include for-large {
                margin-right: 100px;
            }

            &__h1 {
                margin-bottom: 20px;
                font-size: 1.5em;
            }

            &__list {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 1.2em;
                color: rgba(43, 41, 45, 0.6);
                
                &_li {
                    margin-bottom: .9em;
                }
            }
        }

        .third {
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;

            &__h1 {
                font-size: 1.5em;
                margin-bottom: 20px;
            }

            &__list {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 1.2em;
                color: rgba(43, 41, 45, 0.6);
                
                &_li {
                    margin-bottom: .8em;
                }
            }
        }
    }

    .footer-buttom {
        display: flex;
        flex-direction: column;

        @include for-large {
            flex-direction: row;
            justify-content: space-between;
        }

        &__list {
            display: flex;
            margin: 0;
            margin-bottom: 30px;
            padding: 0;
            flex-direction: row;
            color: rgba(43, 41, 45, 0.6);
            list-style: none;

            &_li {
                margin-right: 20px;
                font-size: .9em;
            }

        }

        &__icon {
            display: flex;
            flex-direction: row;

            &_img {
                margin-right: 20px;
                max-height: 18px;
            }
        }
    }
}

hr {
    position: relative;
    left: -100px;
    height: 1px;
    width: 1400px;
    background-color: #E3E3E3;
    border: 0;

}