
@import 'veriables';

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background: #F3C6BD;
    
    @include for-large {
        height: 710px;
    }
    
    &__nav {
        display: flex;
        padding-left: 15px;
        height: 64px;
        flex-direction: row;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
        

        @include for-large {
            padding: 0;
            margin: 39px 110px 0 120px;
            height: 62px;
            background: #ffffff00;
            box-shadow: none;
        }


        &_logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;


            .logo {
                height: 48px;
                width: 48px;

                &__img {
                    width: 100%;
                }

                @include for-large {
                    width: 70px;
                    height: 70px;
                    position: relative;
                    top: 5px;
                }
            }

            .logo-text {
                display: flex;
                flex-direction: column;

                &__h1 {
                    margin: 0 0 0 15px;
                    padding: 15px 0;
                    font-size: 11px;

                    @include for-large {
                        line-height: .8em;
                    }
                }

                &__text {
                    display: none;
                    margin: 0 0 0 15px;
                    padding: 0;
                    color: #2B292D90;

                    @include for-large {
                        display: block;
                    }
                }
            }
        }

        &_mob-menu {
            display: flex;
            width: 58px;
            flex-grow: 0;
            border-left: 1px solid #00000015;
            
            .mob-img {
                margin: auto;
            }

            @include for-large {
                display: none;
            }
        }
    
        @include for-large {

        }
    }

    &__nav-list {
        display: none;
        height: 25px;
        margin: auto;
        margin-right: 80px;

        @include for-large {
            display: block;
        }
    }

    &__button {
        display: none;
        
        @include for-large {
            display: block;
        }
    }

    &__menu {
        display: flex;
        padding: 0;
        margin: auto;
        height: 25px;
        flex-direction: row;
        list-style: none;
        font-size: 17px;
        width: 270px;
        justify-content: space-between;
    
        &_selected {
            font-weight: 700;
        }
    
        &_arrow {
            display: flex;
            list-style: none;
        }
    
        &_arrow-list {
            margin: 0;
            padding: 0;
            margin-left: 10px;
            list-style: none;
        }
    }

// ===============================================headline

    &__content {
        position: relative;
        z-index: 1;
        padding: 35px 15px 33px 15px;

        @include for-large {
            margin: 75px 0 0 110px;
        }

        &_h1 {
            display: block;
            padding: 0;
            margin: 0 0 24px 0;
            font-size: 1.6em;
            line-height: 2em;


            @include for-large {
                width: 750px;
                font-size: 2.5em;
            }

            h1 {
                margin: 0;
            }
        }

        &_text {
            display: block;
            margin: 0 0 30px 0;
            font-size: 24px;
            line-height: 1.4em;

            @include for-large {
                width: 450px;
                margin-top: 40px;
            }
        }
    }

    .button-get-started {
        width: 290px;
        height: 48px;
        margin-bottom: 15px;
        border-radius: 2px;
        border: 0;
        background: #3040C4;
        color: #ffffff;
        font-weight: 700;
        font-size: 18px;



        @include for-large {
            background: #3040C4;
            width: 160px;
            height: 48px;
            border-radius: 4px;
            color: #ffffff;
            border-radius: 2px;
            font-weight: 700;
            font-size: 18px;
            border: 0;
        }
    }

    .button-learn-more {
        margin-bottom: 33px;
        width: 290px;
        height: 48px;
        background: #ffffff;
        color: #3040C4;
        border-radius: 2px;
        font-weight: 700;
        font-size: 18px;
        border: 0;


        @include for-large {
            margin-left: 10px;
            width: 160px;
            height: 48px;
            border-radius: 4px;
            background: #ffffff;
            color: #3040C4;
            border-radius: 2px;
            font-weight: 700;
            font-size: 18px;
            border: 0;
        }
    }

    &__img-man {
        position: relative;
        width: 320px;
        z-index: -1;
        right: 15px;

        @include for-large {
            position: absolute;
            top: 40px;
            right: 25px;
            width: 796px;
            max-height: 448px;
        }

        &_img {
            width: 100%;
            z-index: 0;
        }
    }
}

.button_get-started {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background: #3040C4;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    border: 0;
}

