* {
  box-sizing: border-box;
}

div {
  overflow: auto;
}

tr {
  height: 40px;
}

table {
  width: 500px;
  margin: 16px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 4px;
  text-align: right;
}

tbody > tr:nth-child(odd) {
  background: #f2f2f2;
}

tbody > tr:hover {
  background: #aaa;
  color: white;
}

thead {
  background: aqua;
}

tfoot {
  font-weight: 700;
}

caption {
  margin-bottom: 8px;
}